*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa !important;
}

.container {
  background-color: #fafafa !important;
}

.navbar {
  margin-bottom: 18px;
}

.carousel img {
  height: 500px;
}

.carousel {
  margin-bottom: 30px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.media {
  background-color: white;
}

#title{
  font-family: 'Girassol', cursive;
  text-align: center;
  font-size: 70px;
  letter-spacing: 15px;
  padding: 5%;
  color: white;
}

p{

  font-family: 'Open Sans', sans-serif;
}
.dTitle{
  background-color: slategrey;
  border-radius: 5px;
}

footer{
  margin-top: 10%;
  color: white;
  width: 100%;
}

footer h2,h3{
  color: #fff;
}

footer h2 {
  font-size: 18px;
}

.footer-top{
  background-color: slategrey;
  padding: 70px 50px;
}

.segment-one h3{
  font-family: Courgette;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
}

.segment-two h2{
  color: white;
 
  text-transform: uppercase;
}



.segment-two ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
 
.segment-two ul li {
  border-bottom: 1px solid rgba(255, 255, 255,0.3);
  line-height: 40px;
}

.segment-two ul li a {
  text-decoration: none;
}

.segment-three{
  text-transform: uppercase;
}


.ir-arriba{
  display: inline-block;
  padding: 10px 16px;
  background: slategrey;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  
}

a>i {
  color: white;
  margin: 5px;
  padding: 5px;
  border: solid 1px white;
  border-radius: 5px;
}

li>a{
  color:white;
}

nav>div>p{
  margin: 20px;
}
